.col {
  border: 1px solid black;
  box-sizing: border-box;
}

.grid-container {
  border: 1px solid black;
  height: 540px;
  width: inherit;
}

.options {
  margin: 5px auto;
}

.options button {
  appearance: none;
  background-color: #2980b9;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1rem;
  margin: 5px 5px 0 0;
  outline: none;
  padding: 5px 10px;
}

.options button:hover {
  background-color: #3498db;
  cursor: pointer;
}

.parent-container {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}
